interactions:
- request:
    body: 'null'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://graph.facebook.com/v2.6/me/messenger_profile?fields=greeting&access_token=1
  response:
    body: {string: '{"data":[{"greeting":[{"locale":"default","text":"test greeting"}]}]}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: ['"d474d3bdfcc9b6d2f167118043b7eb653ae6257f"']
      facebook-api-version: [v2.8]
    status: {code: 200, message: OK}
version: 1
