interactions:
- request:
    body: '{"message": {"attachment": {"payload": {"template_type": "generic", "elements":
      [{"title": "1", "buttons": [{"title": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c
      \u043f\u043e\u0434\u0440\u043e\u0431\u043d\u043e\u0441\u0442\u0438", "payload":
      "info talk 1", "type": "postback"}, {"title": "\u041f\u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c
      \u043b\u0430\u0439\u043a", "payload": "like talk 1", "type": "postback"}], "subtitle":
      "\u041b\u0430\u0439\u043a\u043e\u0432: 0\n\u0421\u043f\u0438\u043a\u0435\u0440:
      1"}]}, "type": "template"}}, "recipient": {"id": "474276666029691"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://graph.facebook.com/v2.6/me/messages?access_token=1
  response:
    body: {string: '{"recipient_id":"474276666029691","message_id":"mid.$cAAAgfj64Ka5hnc2uNVbbIhkQziK6"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      facebook-api-version: [v2.8]
    status: {code: 200, message: OK}
version: 1
