interactions:
- request:
    body: '{"recipient": {"id": "474276666029691"}, "message": {"text": "\"1\"\n\n1:\n\u041d\u0435\u0442
      \u043e\u043f\u0438\u0441\u0430\u043d\u0438\u044f."}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://graph.facebook.com/v2.6/me/messages?access_token=1
  response:
    body: {string: '{"recipient_id":"474276666029691","message_id":"mid.$cAAAgfj64Ka5hqKB1iVbd1ssyPmo_"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      facebook-api-version: [v2.8]
    status: {code: 200, message: OK}
version: 1
